@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
    --c-darker: #131515;
    --c-dark: #1A1D1C;
    /* --c-normal: #1E2B26; */
    --c-normal: #182D26;
    --c-light: #FFFFFF;
    --c-hazy-light: #E2E2E2;
    --c-accent: #17F2FA;
    --c-danger: #E74F4F;
}

body {
    padding: 0;
    height: 0;
    background-color: var(--c-dark);
    width: 100vw;
    height: 100vh;
}

body #app {
    display: block;
    width: 100vw;
    height: 100vh;
}

.app-button {
    background-color: var(--c-normal);
    color: var(--c-hazy-light);
    border-radius: 10px;
    box-shadow: 4px 4px 5px var(--c-darker);
    padding: 10px;
    min-width: 150px;
    cursor: pointer;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--c-normal) inset !important;
}

.ps__thumb-y, .ps__thumb-x {
    background-color: var(--c-normal) !important;
}

.ps__rail-y, .ps__rail-x {
    background-color: transparent !important;
}